{:user-passwd {:plain "xxx"}                                  ; smeagol user pwd on os level
 :user-ssh
  {:ssh-authorized-keys [{:plain "ssh-rsa AAAA..LL comment"}] ; ssh authorized keys
   :ssh-key {:public-key {:plain "ssh-rsa AAAA..LL comment"}  ; ssh-key for git sync
             :private-key {:plain "SOME_PRIVATE_SSH_KEY"}}}
 :git-credential
  {:host "github.com"                                         ; credentials for content repo
   :protocol :ssh
   :user-name {:plain "smeagol"}}
 :git-content-repo                                            ; the content repo spec
  {:host "github.com"                                         ; e.g. for github. Gitlab or gitblit will also work.
   :orga-path "DomainDrivenArchitecture"
   :repo-name "dda"
   :protocol :ssh
   :server-type :github}
 :server-fqdn "a.server.name"                                 ; the httpd server name
 :smeagol-passwd
    {:admin {:admin true,                                     ; smeagol users
             :email "admin@localhost",
             :password "admin" #_{:plain "admin"}}}}
