{:user-passwd {:plain "xxx"}
 :user-ssh {:ssh-authorized-keys [{:plain "ssh-rsa AAAA..LL comment"}]
            :ssh-key {:public-key {:plain "ssh-rsa AAAA..LL comment"}
                      :private-key {:plain "SOME_PRIVATE_SSH_KEY"}}}
 :git-credential {:host "github.com"
                  :protocol :https
                  :user-name {:plain "smeagol"}}
 :git-content-repo {:host "github.com"
                    :repo-name "a-private-repo"
                    :protocol :https
                    :server-type :github}
 :server-fqdn "a.server.name"
 :smeagol-passwd {:admin {:admin true, :email "admin@localhost", :password "admin"}}}
