{:os-user :initial
 :user-email "ubuntu@some-domain.org"
 :signing-key "xxx"
 :diff-tool "meld"
 :repos {:books
         ["https://github.com/DomainDrivenArchitecture/ddaArchitecture.git"]
         :dda-pallet
         ["https://github.com/DomainDrivenArchitecture/dda-config-commons.git"
          "https://github.com/DomainDrivenArchitecture/dda-pallet-commons.git"]}
 :synced-repos {:password-store
                ["https://github.com/DomainDrivenArchitecture/password-store-for-teams.git"]
                :dda-pallet
                ["https://github.com/DomainDrivenArchitecture/dda-git-crate.git"
                 "https://github.com/DomainDrivenArchitecture/dda-httpd-crate.git"]}}
