{
  :site-title           "DomainDrivenArchitecture"
  :default-locale       "en-GB"
  :content-dir          {{content-dir}}
  :passwd               {{passwd-path}}
  :log-level            :info
  :formatters           {"vega"         smeagol.formatting/process-vega
                         "vis"          smeagol.formatting/process-vega
                         "mermaid"      smeagol.formatting/process-mermaid
                         "backticks"    smeagol.formatting/process-backticks}
}
